html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
.xp-page, .xp-region, .xp-layout, .xp-part {
	padding: 6px;
}
.xp-page {
	/*background-color: */
	border: 5px solid #cccccc;
}
.xp-region {
	border: 5px solid #d9d2e9;
}
.xp-layout {
	border: 5px solid #cfe2f3;
	overflow: hidden;
}
.xp-part {
	border: 5px solid #b6d7a8;
}

body > header {
	background-color: #cccccc;
	color: white;
	padding: 8px;
	margin-bottom: 6px;
}
body > footer {
	background-color: #cccccc;
	color: white;
	padding: 8px;
	margin-top: 6px;
}

.cities {
	min-height: 100px;
}
.banner {
	background-color: gray;
	color: white;
	height: 150px;
	overflow: hidden;
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}
.banner img {
	height: 150px;
}
.banner .overlay {
	margin-top: -150px;
}
.banner .overlay h3,
.banner .overlay p {
	display: inline;
	background-color: hsla(1,0%,0%,0.6);
	padding: 2px 4px;
}
.banner .overlay h3 {
	margin-bottom: 15px;
}
.xp-layout .xp-region {
	float: left;
	width: 47%;
	box-sizing: content-box;
}
